*.class
*.log
codigos/clase_02/myproject/project/target/*
codigos/clase_02/myproject/target/*
.metals/*
.vscode/*
librerias/*
.DS_Store
sbt/examples/*/.bsp
sbt/examples/*/project/project/*
sbt/examples/*/project/target/*
sbt/examples/*/core/target
sbt/examples/*/target
